#svgObjTag{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.3);
}

#details{
	display: none;
	width: auto;
	height: auto;
	padding: 5px;
	background-color: rgba(200,200,200,1);
}

.inlineType {
	display: inline-block;
}

.noPadding{
	padding: 0 !important;
	margin: 0 !important;
}